<html>
<head>
<style>

body{
background-color:skyblue;
}
h4 {
text-align:right;

}
a{
text-decoration:none;
}
table{
height = 100;
width = 100%;
}
.data {
background-color: black;
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;
}
div.data .p1{
text-align:center:
text-indent:50px;
}

</style>

</head>
<body>
<h1><center>Dashboard</center></h1>
<div class = "data">
<p class = 'p1'>Below You Can Select the Course Which you want give the Exam.</p>
<p class = 'p1'>You will be having 25 Questions need to be Complete with in 25 Minutes</p>

</div>
<div align="center">
<form action = "/portal/getcourse/" method = 'post'>
<h2>Please select the Course</h2>
<table>

<td><input type="radio"name = "course" value="java" size="10">Java</input></br></td>
<td><input type="radio"name = "course" value="python" size = "10">PYthon</input></br></td>
</table>
<input type = "submit" value = "Submit"/>

</form>
</div>
<a  href="/portal/showlogin/"><h4>Logout</h4></a>
</body>
</html>
