<html>
<head>
<title>Crack-it Pvt ltd</title>
<style>
body{

background-color:skyblue;

}


h1{
color:red;
text-align :center;


}
.para h3{
text-align :center;
color:yellow;
}
.demo a{
text-align:center;
text-decoration:none;
}
.demo h4{
text-align:center;
}

</style>
</head>


<body>
<h1>Crack-IT Pvt Ltd</h1>
<div class="para">
<h3>Here we have tried to develop a examination portal for java and python </br>
Please Register/if you are already registered please login into the account</h3>
<div class = 'demo'>
<a href="/portal/showlogin/" text-align = 'center'><h4>Login</h4></a>
</div>
</div>


</body>


</html>
