<html>
<head>
<style>
body{
background-color:skyblue;

}


</style>

</head>
<body>
<h1><center>Registration Form</center></h1>
<form  action = "/portal/getregister/" method = 'post'><center>
Email Id : <input type = 'text' name = 'email' size = 50></br>
Password : <input type = 'password' name = 'passw' size = 50></br>
phone_no : <input type = 'text' name = 'phone_no' size = 50></br>
Address  : <input type = 'text' name = 'address' size = 50></br>
           <input type = 'submit' value = 'Submit'/>


</center>
</form>

</body>
</html>
